/* Global Styles */

body {
  font-family: 'Roboto', sans-serif;
  background: #e4e4e4;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.8em;
}

.section {
  margin: 50px auto;
}

.page-p {
  margin: 25px auto;
}

/* Navbar Styles */
/* .navbar-brand {
  font-weight: 700;
} */
.navbar-nav li {
  /* font-weight: 700; */
  padding-right: .7rem;
}

/* Header Styles */
.main-nav {
  background: #010101;
}

.header-image {
  height: 100vh;
  min-height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/ilya-pavlov-87438-unsplash.jpg') center/cover no-repeat fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: #fff;
}

.header-text h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem #000000;
  padding-bottom: 1rem;
}

.header-text h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem #000000;
  padding-bottom: 1.6rem;
}

.header-text-container {
  z-index: 1;
}

.header-button {
  margin-top: 75px;
}

/* About Page Styles */
.about-me {
  margin-bottom: 25px;
}

.skill-icons {
  height: 10em;
  width: 10em;
  margin: 30px auto;
}

/* Portfolio Page Styles */
.card-button {
  margin-bottom: 25px;
}

.card-footer,
.modal-footer {
  background: #010101;
}

.portfolio-page-p {
  margin: 50px auto 25px;
}

/* Contact Page Styles */
.social-icons {
  height: 10em;
  width: 10em;
  margin: 25px auto
}

/* Footer Styles */
.footer {
  background: #010101;
  color: white;
  padding: 30px 0;
}

.footer p {
  margin-bottom: 0;
}

/* Media Queries */

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

@media (max-width: 992px) {
  .header-image {
    background-attachment: scroll;
  }

  .header-text h1 {
    /* font-size: 3.8rem; */
    font-size: 3.5rem;
  }

  .header-text h3 {
    /* font-size: 2rem; */
    font-size: 2rem;
  }

  .social-header {
    margin-top: 50px;
  }
}
